*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body, h1, h2,
h3, h4, h5, h6,
p, ul, li {
    margin: 0;
    padding: 0;
}

ul[class],
ol[class] {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    border: none;
}

a {
    text-decoration: none;
}